@font-face {
   font-family: 'impact';
   src: url('impact/font.ttf');
}
@font-face {
   font-family: 'Century Gothic';
   src: url('Century Gothic/font.ttf');
}
@font-face {
   font-family: 'GOTHICB';
   src: url('GOTHICB/font.TTF');
}
